div.madewith {
    line-height: 124px;
    text-align: center;
}

img.madewith {
    display: inline;
    margin: 0 5px;
    width: 200px;
}

img.hacker-img {
    width: 200px;
}

section.hackers {
    text-align: center;
}